<ul>
	<f:for each="{items}" as="item">
		<li>
			<f:link.action action="show" arguments="{item: item, category: currentCategory}">
				<f:format.date format="Y-m-d">{item.begin}</f:format.date>
				<f:format.date format="H:i">{item.begin}</f:format.date>
				-
				<f:if condition="{item.spansAcrossMidnight}">
					<f:then>
						<f:format.date format="Y-m-d">{item.end}</f:format.date>
					</f:then>
				</f:if>
				<f:format.date format="H:i">{item.end}</f:format.date>,
				{item.duration}h
				({item.category.name})
				{item.comment}
			</f:link.action>
			<f:link.action action="edit" arguments="{item: item, category: currentCategory}">Edit</f:link.action>
			<f:form action="delete" arguments="{category: currentCategory, item: item}">
				<f:form.submit value="Delete" />
			</f:form>
		</li>
	</f:for>
</ul>
