{namespace flies=ThinkopenAt\TimeFlies\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">Edit category "{category.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{category}" objectName="category">
		<ol>
			<li>
				<label for="name">Category name</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="parent">Parent category</label>
				<flies:form.categorySelect options="{rootCategories}" disableOptions="{disabledCategoryIdentifiers}" property="parent" id="parent" optionLabelField="name" prependOptionLabel="[ROOT]" />
			</li>
		
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>
